<ul class="tabs">
  <li class="<%= menu_css_selected('dilekceler') %>"><%= link_to t('petitions'), petitions_path %></li>
  <li class="<%= menu_css_selected('sozlesmeler') %>"><%= link_to t('agreements'), agreements_path %></li>
  <li class="<%= menu_css_selected('diger-yazismalar') %>"><%= link_to t('other_documents'), petitions_path %></li>
</ul>
